a.max-construcciones {
    font-size: 40px;
    font-family: cursive;
    background-color: yellow;
}

nav ul {
    display: flex;
    text-align: center;
    padding-left: 10px;
    justify-content: right;
    list-style: none;
    text-indent: 20px;
    font-size: 25px;
    font-family: cursive;
}


div.titulo1 {
    font-size: 55px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 350px;
}


.texto-inicio {
    font-size: 30px;
    text-align: center;
    margin: 250px;
    color: brown;
}

.titulo {
    text-align: right;
    font-size: 50px;
}

section.section2 {
    background-color: tan;
}

.servis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 31px 50px;
    grid-auto-flow: row;
    grid-template-areas:
        "imagenes-pleneamiento imagenes-maquetacion imagenes-construccion"
        "texto1 texto2 texto3";
}

.imagen1 {
    display: block;
    margin: 0px auto;
    width: 350px;
    height: 300px;
}

.imagenes-pleneamiento {
    grid-area: imagenes-pleneamiento;
}

.texto1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo-planeamiento"
        "texto-planeamiento";
    grid-area: texto1;
}

.titulo-planeamiento {
    justify-self: center;
    grid-area: titulo-planeamiento;
}

.texto-planeamiento {
    grid-area: texto-planeamiento;
}

.imagenes-maquetacion {
    grid-area: imagenes-maquetacion;
}

.texto2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo-maquetacion"
        "texto-maquetacion";
    grid-area: texto2;
}

.titulo-maquetacion {
    justify-self: center;
    grid-area: titulo-maquetacion;
}

.texto-maquetacion {
    grid-area: texto-maquetacion;
}

.imagenes-construccion {
    grid-area: imagenes-construccion;
}

.texto3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: start;
    grid-template-areas:
        "titulo-construccion"
        "texto-construccion";
    grid-area: texto3;
}

.titulo-construccion {
    justify-self: center;
    grid-area: titulo-construccion;
}

.texto-construccion {
    grid-area: texto-construccion;
}

.servicios {
    width: 300px;
    height: 200px;
}


p.parrafo {
    color: black;
}


b.titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



h1 {
    text-align: center;
    font-size: 45px;
    font-family: Arial;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
        "imagen-1 imagen-2"
        "imagen-3 imagen-4"
        "imagen-5 imagen-6";
    width: 100%;
    height: 100%;
}

img {
    width: 700px;
    height: 500px;
    grid-area: imagen-1;
}

.imagen-2 {
    width: 750px;
    grid-area: imagen-2;
}

.imagen-3 {
    grid-area: imagen-3;
}

.imagen-4 {
    width: 750px;
    grid-area: imagen-4;
}

.imagen-5 {
    width: 700px;
    height: 500px;
    grid-area: imagen-5;
}

.imagen-6 {
    width: 750px;
    grid-area: imagen-6;
}




footer img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 3px;
    padding: 3px;
}