/* seccion 1 - inicio */
 *{
     margin: 0%;
     padding: 0%;
     font-family: 'Heebo', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Rubik', sans-serif;
 }

 .logo{
     width: 40px;
     height: 40px;
 }


.texto-inicio {
    font-size: 30px;
    text-align: center;
    margin: 250px;
    margin-top: 150px;
    color: blue;
}



/* media query */

@media screen and (max-width:450px) {

    .texto-inicio {
        font-size: 15px;
        color: red;
        display: inline-block
    }
    
}