/* seccion nosotros */

.titulo2 {
    text-align: right;
    font-size: 50px;
}

.nosotros {
    column-count: 2;
    margin-top: 20%;
}

.texto-nosotros {
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}

span {
    display: inline-block;
    font-family: Arial;
    background-color: yellow;
    text-indent: 10%;
    justify-content: center;

}

