/* seccion 2 - proyectos */

.titulo2 {
    font-size: 50px;
    text-align: center;
}

.nabvar1{
    background-color: aquamarine;
}

.lista{
    display: inline-block;
}

.lista2{
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}