/* seccion 2 - proyectos */

.titulo2 {
    font-size: 50px;
    text-align: center;
}

.navbar1 {
    text-align: center;
    font-size: 25px;
    background-color: rgba(128, 128, 128, 0.537);
}

.lista {
    display:inline-block;
    color: blue;
    padding: 30px;
    display: flex;
  justify-content: space-evenly
}

* {
    box-sizing: border-box;
}

.columna {
    float: left;
    width: 33%;
    padding-right: 5px;
    padding-bottom: 5px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

img{
    width: 100%;
}


.premios{ 
    font-size: 28px;
    padding: 50px;
    margin-bottom: 300px;
}


.lista2 {
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-evenly
}


/* media query */

@media screen and (max-width:450px) {

    .navbar1{
        font-size: 15px;
    }

.premios{
    font-size: 9px;
    display: inline-flex;
    padding: 0%; 
 }

}