/* seccion 4 Comunidad (servicios) */

.texto {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 35px;
}


.card{
    display: inline-flex;
    flex-direction: row;
    margin: 0 auto;
    background: var(--card-color);
    color:rgb(10, 51, 236);
    width: 400px;
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 20px;            
}
.card-header{
    background: var(--card-header-color);            
    margin: -20px;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}
.card-body{
    background: var(--card-body-color);
    margin: -20px;
    padding: 20px;
    border-radius: 00px 00px 20px 20px;
}
.card-footer{
    background: var(--card-footer-color);
    margin: -20px;
    padding: 20px;
    border-radius: 00px 00px 20px 20px;
    display: flex;
    justify-content: space-between
} 

section{ 
    margin-bottom: 200px;
}
/* media query */

@media screen and (max-width:450px) {

    .texto {
        font-size: 13px;
         }
}